/* Chat Message Component Styles */

.list-item {
  height: auto;
  margin-top: 20px;
}

.message-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message {
  padding: 12px 18px;
  background-color: #f0f0f0; /* Light background color */
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  word-wrap: break-word; /* Wrap long words */
  text-wrap: wrap;
  position: relative;
}

.timestamp {
  font-size: 0.8em;
  color: #888;
}

.message:hover {
  background-color: #e0e0e0; /* Lighter shade on hover */
}
